{% layout 'layout.liquid' %}
{% block content %}
  <div class="col-mb-4">
    <h1 class="display-4">Welcome to MacroTrackr!</h1>
    <p>An app that lets you keep track and store your daily macronutrients</p>
  </div>
  <div class="btn-group btn-group-lg mt-4">
    <a href="/users/signup" class="btn btn-success">Sign Up</a>
    <a href="/users/login" class="btn btn-success">Login</a>
  </div>
{% endblock %}}}}}